.signIn {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.75);
}

.signIn > form {
    display: grid;
    flex-direction: column;
}

.signIn > form > h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.signIn > form > input {
    outline-width: 0;
    height: 30px;
    margin-bottom: 18px;
    border: none;
    padding: 10px;
    border-radius: 5px ;
}

.signIn > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.greyy {
    color: gray;
}

.linkk:hover {
    cursor: pointer;
    text-decoration: underline;
}